<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="datatouch.uikitapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera.any" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">

        <activity
            android:name="datatouch.uikitapp.TestActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="autotoken"
                    android:scheme="datatouch" />
            </intent-filter>
        </activity>

        <activity
            android:name="datatouch.uikit.components.camera.activities.PhotoCameraActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <meta-data
                android:name="androidx.camera.activity.FULL_SCREEN_ENABLED"
                android:value="true" />
        </activity>

    </application>

</manifest>
